# installing local src package in editable mode
-e .

# external requirements
click  # https://click.palletsprojects.com/
Sphinx  # https://www.sphinx-doc.org/en/master/
coverage  # https://coverage.readthedocs.io/en/
flake8  # https://flake8.pycqa.org/en/latest/
python-dotenv>=0.5.1  # https://pypi.org/project/python-dotenv/
pyprojroot  # for src.utils.paths

# basic packages
numpy
pandas
matplotlib
seaborn
# clean-code
black 

# packages for our analysis
plotly
prophet
ipywidgets
notebook
scikit-learn

# packages for smooth docker dev environment run in VS Code
IPython
jupyter_client
jupyter_core
jupyterlab
notebook