# installing local src package in editable mode
-e .

# basic packages
numpy
pandas
matplotlib
setuptools

# clean-code
python-dotenv
black
pre-commit

# packages for our analysis
prophet
scikit-learn
ipywidgets # For Prophet plots - not used in project
plotly  # For Prophet plots - not used in project

# packages for smooth Python dev environment run in VS Code on Docker
IPython
jupyter_client
jupyter_core
jupyterlab
notebook