# installing local src package in editable mode
-e .

# external requirements
click  # https://click.palletsprojects.com/
Sphinx  # https://www.sphinx-doc.org/en/master/
coverage  # https://coverage.readthedocs.io/en/
flake8  # https://flake8.pycqa.org/en/latest/
python-dotenv>=0.5.1  # https://pypi.org/project/python-dotenv/

# basic packages
numpy
pandas
matplotlib
seaborn